version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/" 
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "00:00"
    groups:
      all-npm-updates:
        patterns: ["*"]

  - package-ecosystem: "github-actions"
    directory: "/" 
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "00:00"
    groups:
      all-gha-updates:
        patterns: ["*"]
