dist/
.astro/
node_modules/
npm-debug.log*
.DS_Store
.vscode/
test-results*

# Allow specific content files
src/content/blog/**
!src/content/blog/start.md
src/content/portfolio/**
!src/content/portfolio/this.md
src/content/offering/**
!src/content/offering/base.md

src/assets/blog/**
!src/assets/blog/default.*
src/assets/portfolio/**
!src/assets/portfolio/default.*
src/assets/offering/**
!src/assets/offering/default.*