---
import Layout from '../layout/BaseLayout.astro'
---

<Layout title="Page Not Found">
  <section class="max-w-xl mx-auto flex flex-col items-center justify-center gap-4">
    <h1 class="font-bold" style="font-size: 10rem">404</h1>

    <p class="text-xl text-muted">Oops! The page you're looking for doesn't exist.</p>

    <a href="/explore" class="responsive card">Explore my work</a>
  </section>
</Layout>