---
import BaseLayout from "../layouts/BaseLayout.astro";
import Timeline from "../components/Timeline.astro";
import { getCollection } from "astro:content";

const raw_stations = await getCollection("stations");

// Sort by date descending (latest first)
raw_stations.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

const stations = raw_stations.map((station) => {
  const date = new Date(station.data.date);
  return {
    ...station,
    data: {
      ...station.data,
      year: date.getFullYear()
    }
  };
});
---

<BaseLayout title="About me">
  <section
    class="flex flex-col md:flex-row items-center justify-center py-24 px-6 space-y-8 md:space-y-0 md:space-x-12 text-center md:text-left max-w-5xl mx-auto"
  >
    <!-- Left text block -->
    <div class="space-y-4">
      <p
        class="uppercase tracking-widest text-sm"
        style="color: var(--text-muted-color);"
      >
        Hey there!
      </p>
      <h1
        class="text-4xl font-bold"
        style="color: var(--text-secondary-color);"
      >
        I'm Leo.
      </h1>
      <p class="text-lg max-w-md">
        I'm a Master's student at the University of Hamburg and a Software
        Engineer at Capgemini. My journey has taken me through various roles,
        from developing sustainability tools to full-stack and iOS development.
      </p>
    </div>

    <!-- Right image block -->
    <img
      src="/motorbike.avif"
      alt="This is me!"
      class="w-full md:w-1/2 rounded shadow-lg object-cover"
    />
  </section>

  <Timeline stations={stations} />
</BaseLayout>
