---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <section
    class="flex flex-col items-center justify-center text-center py-24 space-y-8"
  >
    <h1 class="text-4xl font-bold">About Me</h1>
    <p class="text-xl max-w-xl">
      This is the barebones about page. You can now test the navbar accent when
      this page is active.
    </p>
  </section>
</BaseLayout>
