---
import BaseLayout from "../BaseLayout.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
  .filter(({ data: { featured } }) => featured)
  .slice(0, 2);
---

<BaseLayout title="Leopold Lemmermann">
  <!-- Hero section -->
  <section class="flex flex-col items-center justify-center text-center">
    <p class="text-2xl md:text-2xl max-w-2xl">
      I'm a Master's student at the University of Hamburg and a Software
      Engineer at Capgemini. I love building solutions that connect technology
      with purpose.
      <a href="/about" class="nav-link-gradient text-[var(--text-muted-color)]">
        Learn more.</a
      >
    </p>
  </section>

  <!-- Top two featured projects dynamically generated -->
  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-4xl">
      {
        projects.map((project: any) => (
          <a href={`/projects#${project.slug}`} class="nav-link-gradient">
            <div class="border rounded shadow hover:shadow-lg dark:shadow-white/10 dark:hover:shadow-white/30 transition overflow-hidden">
              {project.data.thumbnail && (
                <img
                  src={project.data.thumbnail}
                  alt={project.data.title}
                  class="w-full aspect-square object-cover"
                />
              )}
              <div class="p-4 text-center">
                <h2 class="text-2xl font-semibold mb-2">
                  {project.data.title}
                </h2>
                <p class="mb-2 text-[var(--text-muted-color)]">
                  {project.data.tags.join(", ")}
                </p>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </section>

  <!-- Google Calendar Widget -->
  <div class="flex justify-center">
    <div
      class="w-full max-w-2xl p-2 rounded bg-[var(--border-color)]"
    >
      <iframe
        src="https://calendar.google.com/calendar/appointments/AcZssZ0Uf9NSuQOy5kmC7a86grhHsaI3ESFj1eLPems=?gv=true"
        style="border: 0"
        width="100%"
        height="600"></iframe>
    </div>
  </div>
</BaseLayout>
