---
import { Icon } from "astro-icon/components";

interface Props {
  type: string;
  url: string;
  class?: string;
}

const { type, url, class: classes } = Astro.props;

const linkIcons: Record<string, string> = {
  github: "simple-icons:github",
  appstore: "simple-icons:appstore",
  webpage: "lucide:globe",
  document: "lucide:file-text",
  linkedin: "simple-icons:linkedin"
};

const icon =
  linkIcons[type] ?? (console.log(`Unknown link type: ${type}`), "lucide:link");
---

<a href={url} rel="noopener noreferrer" target="_blank">
  <Icon name={icon} class={classes} />
</a>
