---
const avatarUrl = "/profile.webp";
---

<nav
  class="flex items-center justify-between px-6 py-4 bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 shadow"
>
  <a href="/" class="flex items-center space-x-4 group nav-link-gradient">
    <img
      src={avatarUrl}
      alt="Leopold Lemmermann"
      class="w-12 h-12 rounded-full object-cover border border-gray-300 dark:border-gray-700 transform transition group-hover:scale-105"
    />
    <div class="flex flex-col opacity-0 animate-slidefadein">
      <span class="font-semibold text-lg">Leopold Lemmermann</span>
      <span class="text-sm">Software Engineer | BSc</span>
    </div>
  </a>

  <div class="space-x-6 opacity-0 animate-slidefadein">
    <a href="/about" class="nav-link-gradient">About</a>
    <a href="/projects" class="nav-link-gradient">Projects</a>
  </div>
</nav>
