---
import IconLink from "./IconLink.astro";

const navigation = ["about", "projects", "services"];
const socials = [
  "https://github.com/leo-lem",
  "https://linkedin.com/in/leopoldlemmermann"
];
---

<script is:inline src="/scripts/minigame.js"></script>

<nav
  class="default-color sticky flex flex-col gap-2 p-3 z-10 shadow shadow-white/15 sm:flex-row sm:items-center sm:justify-between"
>
  <img
    id="draggable-avatar"
    src="/profile.webp"
    alt="Leopold Lemmermann"
    class="w-10 h-10 absolute z-50 cursor-grab transition-transform duration-500 ease-in-out rounded-full object-cover shadow-[0_8px_20px_rgba(0,0,0,0.6)]"
  />

  <div class="flex items-center justify-between gap-4">
    <div class="flex items-center gap-4">
      <span class="w-10 h-10 rounded-full border"></span>

      <a
        href="/"
        class="animate-slidefadein nav-link-gradient flex flex-col whitespace-nowrap"
      >
        <span class="font-semibold text-xs sm:text-sm">Leopold Lemmermann</span>
        <span class="text-xs sm:text-sm">Software Engineer | BSc</span>
      </a>
    </div>

    <div class="animate-slidefadein flex flex-row items-center gap-4">
      {
        socials.map((url) => (
          <IconLink
            type={url.split("https://")[1].split(".")[0]}
            url={url}
            size_class="h-6 w-6 sm:h-8 sm:w-8"
          />
        ))
      }
    </div>
  </div>

  <div
    class="animate-slidefadein flex flex-col items-center gap-2 sm:flex-row sm:gap-4"
  >
    {
      navigation.map((item) => (
        <a
          href={`/${item}/`}
          class={`capitalize nav-link-gradient ${Astro.url.pathname.includes(item) ? "font-bold underline" : ""}`}
          aria-current={Astro.url.pathname.includes(item) ? "page" : undefined}
        >
          {item}
        </a>
      ))
    }
  </div>
</nav>
