---
import IconLink from "./IconLink.astro";

const navigation = ["about", "projects", "services"];
const socials = [
  "https://github.com/leo-lem",
  "https://linkedin.com/in/leopoldlemmermann"
];
---

<script is:inline src="/scripts/minigame.js"></script>

<nav
  class="sticky top-0 z-50 flex flex-col md:flex-row md:items-center md:justify-between px-4 md:px-6 py-4 shadow shadow-white/15 bg-[var(--bg-color)]"
>
  <!-- Draggable avatar -->
  <div
    id="draggable-avatar"
    class="absolute z-50 cursor-grab transition-transform duration-500 ease-in-out shadow-[0_8px_20px_rgba(0,0,0,0.6)] rounded-full"
  >
    <img
      src="/profile.webp"
      alt="Leopold Lemmermann"
      class="w-10 h-10 rounded-full object-cover transform"
    />
  </div>

  <!-- Left block: name + socials -->
  <div class="flex items-center justify-between md:space-x-4">
    <div class="flex items-center space-x-3">
      <div class="w-10 h-10 z-30 rounded-full border"></div>

      <a
        href="/"
        class="flex flex-col whitespace-nowrap min-w-0 animate-slidefadein nav-link-gradient"
      >
        <span class="font-semibold sm:text-sm text-xs">Leopold Lemmermann</span>
        <span class="sm:text-sm text-xs">Software Engineer | BSc</span>
      </a>
    </div>

    <div class="flex flex-row items-center space-x-3 animate-slidefadein">
      {
        socials.map((url) => (
          <IconLink
            type={url.split("https://")[1].split(".")[0]}
            url={url}
            size_class="h-6 w-6 sm:h-8 sm:w-8"
          />
        ))
      }
    </div>
  </div>

  <!-- Navigation links: vertical list on small, horizontal on md+ -->
  <div
    class="flex flex-col md:flex-row md:space-x-6 space-y-2 md:space-y-0 opacity-0 animate-slidefadein items-center"
  >
    {
      navigation.map((item) => (
        <a
          href={`/${item}/`}
          class={`capitalize nav-link-gradient ${Astro.url.pathname.includes(item) ? "font-bold underline" : ""}`}
          aria-current={Astro.url.pathname.includes(item) ? "page" : undefined}
        >
          {item}
        </a>
      ))
    }
  </div>
</nav>
