---
import { Icon } from "astro-icon/components";

import IconLink from "./IconLink.astro";
import { frontmatter } from "/src/content/about.md";
import { Image } from "astro:assets";
import thumbnail from "../assets/thumbnail";

const { socials, subscribe = true } = Astro.props;

const navigation = ["blog", "portfolio", "offering", "explore", "about"];
---

<header class="sticky top-0 py-3 z-10 stack-sm">
  <nav
    class="w-full container-wide mx-auto flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4"
  >
    <div class="w-full flex items-center justify-between gap-4">
      <Image
        id="avatar"
        src={await thumbnail("profile")}
        alt="Avatar of Leopold Lemmermann"
        class="eager w-10 h-10 rounded-full object-cover shadow-[0_8px_20px_rgba(0,0,0,0.6)]"
      />

      <a
        href="/"
        class="flex flex-col navigation animate-slidefadein hover:text-accent"
      >
        <span class="font-semibold text-xs sm:text-sm">
          Leopold Lemmermann
        </span>
        <span class="text-xs whitespace-nowrap">
          {frontmatter.titles.join(" · ")}
        </span>
      </a>

      <div class="ml-auto"></div>

      {
        socials.map((url: string) => (
          <IconLink
            type={url.split("https://")[1].split(".")[0]}
            url={url}
            class="icon-sm animate-slidefadein"
          />
        ))
      }

      <button id="mobile-menu-toggle" class="sm:hidden focus:outline-none">
        <Icon name="lucide:menu" class="icon-sm animate-slidefadein" />
      </button>
    </div>

    <div
      id="mobile-menu"
      class="hidden max-h-0 overflow-hidden transition-[max-height] duration-300 ease-in-out flex-col items-center gap-2 sm:flex sm:flex-row sm:overflow-visible sm:animate-slidefadein"
    >
      {
        navigation.map((item) => (
          <a
            href={`/${item}/`}
            class={`navigation capitalize hover:text-accent ${Astro.url.pathname.includes(item) ? "active" : ""}`}
            aria-current={
              Astro.url.pathname.includes(item) ? "page" : undefined
            }
          >
            {item}
          </a>
        ))
      }
    </div>
  </nav>

  {
    subscribe && (
      <section class="container-wide mx-auto text-center text-muted">
        New article weekly. No noise.{" "}
        <a href="/blog/#subscribe" class="text-primary hover:text-accent">
          Subscribe
        </a>
      </section>
    )
  }
</header>

<style>
  header {
    @apply shadow shadow-[var(--shadow-color)];
    color: var(--text-color);
    background-color: var(--base-color);
    border-color: var(--border-color);
  }

  header a.active {
    @apply font-bold underline;
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const toggle = document.getElementById("mobile-menu-toggle");
    const menu = document.getElementById("mobile-menu");

    toggle?.addEventListener("click", () => {
      const isHidden = menu?.classList.contains("hidden");

      if (isHidden) {
        menu.classList.remove("hidden");
        menu.classList.add("flex");
        menu.style.maxHeight = menu.scrollHeight + "px";
      } else {
        menu.style.maxHeight = "0px";
        setTimeout(() => {
          menu.classList.remove("flex");
          menu.classList.add("hidden");
        }, 300);
      }
    });
  });
</script>
