---
const { src, alt = "Project Screenshot" } = Astro.props;
---

<div
  id="image-modal"
  class="fixed inset-0 bg-black bg-opacity-80 hidden z-50"
  onclick="hideModal()"
>
  <div class="flex items-center justify-center h-full">
    <img
      id="modal-img"
      alt="Expanded screenshot"
      class="max-h-full max-w-full rounded shadow-lg"
    />
  </div>
</div>

<img
  src={`/images/${src}`}
  alt={alt}
  class="responsive card-image cursor-pointer"
  onclick={`showModal('/images/${src}')`}
/>

<script is:inline>
  function showModal(imgSrc) {
    const modal = document.getElementById("image-modal");
    const modalImg = document.getElementById("modal-img");
    modalImg.src = imgSrc;
    modal.classList.remove("hidden");
  }

  function hideModal() {
    document.getElementById("image-modal").classList.add("hidden");
  }

  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape") {
      hideModal();
    }
  });
</script>
