---
const { tags, class: classes } = Astro.props;
---

{
  tags && tags.length > 0 && (
    <div class={`cluster-sm ${classes} `}>
      {tags.sort().map((tag: string) => (
        <a
          class="responsive pill pill-accent capitalize"
          href={`/explore/?topics=${encodeURIComponent(tag)}`}
          data-tag={tag}
        >
          {tag}
        </a>
      ))}
    </div>
  )
}
