---
const { tags, class: classes } = Astro.props;
---

{
  tags && tags.length > 0 && (
    <div class={`${classes} flex flex-wrap gap-2`}>
      {tags.sort().map((tag: string) => (
        <a
          class="responsive tag capitalize"
          href={`/explore/?topics=${encodeURIComponent(tag)}`}
          data-tag={tag}
        >
          {tag}
        </a>
      ))}
    </div>
  )
}

<style>
  .tag {
    color: var(--text-tag-color);
    background-color: var(--tag-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    @apply text-xs font-semibold;
  }
</style>
