---
const { topics, class: classes } = Astro.props as {
  topics?: string[];
  class?: string;
};
---

{
  topics && topics.length > 0 && (
    <div class={`cluster-sm ${classes} `}>
      {topics.sort().map((tag: string) => (
        <a
          class="responsive pill pill-accent capitalize"
          href={`/explore/?topics=${encodeURIComponent(tag)}`}
          data-tag={tag}
        >
          {tag}
        </a>
      ))}
    </div>
  )
}
