---
const { topics, class: classes } = Astro.props as {
  topics?: string[];
  class?: string;
};
---

{
  topics && topics.length > 0 && (
    <div class={`cluster-sm ${classes} `}>
      {topics.sort().map((tag: string) => (
        <div class="responsive pill pill-accent capitalize" data-tag={tag}>
          {tag}
        </div>
      ))}
    </div>
  )
}
