---
import "./global.css";
import NavBar from "./components/NavBar.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="default-color min-w-[360px]">
    <NavBar />

    <main class="max-w-3xl mx-auto flex flex-col gap-20 p-10 mb-32">
      {
        description && (
          <section class="text-center px-10">
            <h1 class="text-4xl font-bold capitalize mb-5">{title}</h1>
            <p class="secondary max-w-xl mx-auto text-xl">{description}</p>
          </section>
        )
      }
      <slot />
    </main>
  </body>
</html>
