---
import "./global.css";
import NavBar from "./components/NavBar.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="background-color: var(--bg-color); color: var(--text-color); border-color: var(--border-color);"
  >
    <NavBar />

    <main class="max-w-3xl mx-auto p-8 gap-20 flex flex-col">
      {
        description && (
          <section class="text-center mb-8">
            <h1 class="text-4xl font-bold capitalize">{title}</h1>
            <p class="text-gray-600 mt-2 max-w-xl mx-auto">{description}</p>
          </section>
        )
      }
      <slot />
    </main>
  </body>
</html>
