@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
:root {
  --bg-color: #ffffff;
  --border-color: #e5e5e5;

  --tag-color: #f2f2f2;
  --text-tag-color: #555555;

  --card-color: #f9f9f9;
  --text-card-color: #222222;

  --accent-color-start: #be185d;
  --accent-color-end: #ca8a04;

  --text-color: #111111;
  --text-secondary-color: #666666;
  --text-muted-color: color-mix(in srgb, var(--text-color) 70%, white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1c1f;
    --border-color: #4b4f57;

    --accent-color-start: #be185d;
    --accent-color-end: #ca8a04;

    --tag-color: #3d2b28;
    --text-tag-color: #fde68a;

    --card-color: #25262a;
    --text-card-color: #f3f4f6;

    --text-color: #f3f4f6;
    --text-secondary-color: #cbd5e1;
    --text-muted-color: color-mix(in srgb, var(--text-color) 50%, black);
  }
}


body {
  color: var(--text-color);
  background-color: var(--bg-color);
  border-color: var(--border-color);
}

h2 {
  color: var(--text-color);
  @apply text-3xl font-bold mb-5;
}

h3 {
  color: var(--text-secondary-color);
  @apply text-xl font-semibold mb-4;
}



/* Utility text color classes for consistent usage */
.text-primary {
  color: var(--text-color);
}

.text-secondary {
  color: var(--text-secondary-color);
}

.text-muted {
  color: var(--text-muted-color);
}

.text-intense {
  background: linear-gradient(to right, var(--accent-color-start), var(--accent-color-end));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-intense {
  color: #f9f9f9;
  background: linear-gradient(to right, var(--accent-color-start), var(--accent-color-end));
}

.responsive {
  @apply transform transition;
}

.responsive:hover {
  @apply scale-105 brightness-110;
}



/* Component Styles */
.card {
  background-color: var(--card-color);
  color: var(--text-card-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

.card-image {
  @apply rounded-lg shadow;
}

.see-more {
  @apply text-intense text-center inline-block transform hover:underline hover:scale-105 transition duration-200;
}