name: Test
on:
  pull_request:
    branches: [main]
    paths-ignore: ["README.md", ".devcontainer.json", ".github/workflows/main.yml", ".github/workflows/co2.yml"]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: npm run sync:fixtures
      - run: npm run build

  test:
    permissions:
      actions: read
      checks: write
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: npm run sync:fixtures
      - run: npx playwright install
      - name: Run tests
        run: npm test
