name: Verify Pull Request
on:
  pull_request:
    branches: [main]
    paths-ignore: ["README.md", "SECURITY.md", "LICENSE", ".devcontainer*"]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/bootstrap
      - run: npm run build

  test:
    permissions:
      contents: read
      actions: read
      checks: write
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/bootstrap
      - run: npx playwright install
      - run: npm test
